body {
  overflow: hidden;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: "Lucida Console", "Courier New", monospace;
  height: 100%;
}

html {
  background-image: url("Pictures/birdy.png");
  background-repeat: repeat;
  height: 100%;
}

.Main-content {
  text-align: left;
  height: 90%;
  width: 100%;
  display: flex;
}

.credit {
  height: 3%;
}

.pictures {
  border: 5px solid #555;
}

.test {
  display: flex;
}

.side-bar {
  width: 10%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 65%;
}

.menu {
  width: 90%;
  text-indent: 50px;
}

.random-picture {
  height: 40%;

  display: flex;
}

.me {
  width: 50%;
  height: 100%;
  
}

.text-me {
  width: 30%;
  height: 100%;

}

.abutton {
  width: 100%;
}

.aboutme {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
}

.abutton {
  background-color: black;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 5px solid white;
  border-radius: 12px;
  height: 100px;
  font-size: 25px;
}

.abutton:hover {
  background-color: white; 
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 5px solid black;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.border {
  border: 5px solid black;
  border-radius: 12px;
}

.textborder {

  border: 5px solid black;
  border-radius: 12px;
}
